.profile-main {
  width: 100%;
}
.profile-main .header-part {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 30px 50px;
  background: #fff;
  box-shadow: 0px 1px 15px #0000000f;
}
.profile-main .header-part .left-part {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.header-part .left-part .back {
  border: 1px solid #e3e3e3;
  border-radius: 14px;
  background-color: transparent;
  width: 60px;
  height: 60px;
}
.header-part .left-part .back img {
  transform: rotate(-180deg);
}

.header-part .left-part h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  margin: 0;
}

.header-part .right-part {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-part .right-part .nav-link {
  border-radius: 26px;
  background-color: #fdf5f2;
  font-size: 14px;
  font-weight: 500;
  color: #23bee3;
  min-width: 90px;
  font-weight: 400;
  margin: 0 10px;
}
.header-part .right-part .nav-link.active {
  border: 0;
  background-color: #23bee3;
  color: #fff;
}
.form-data .filed #profile-img {
  display: none;
}
.form-data .filed label.upload {
  width: 150px;
}
.form-data .filed .profile-pic  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 150px;
  height: 179px;
}
.form-data .filed .profile-pic > p{
  margin: 0;
}
.form-data .filed .file-area input{
  outline: none;
}